@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 5rem;
}

.no-scroll {
  @apply overflow-hidden;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sticky-element {
    @apply hide-scrollbar sticky left-0 right-0 top-0 h-fit max-h-dvh overflow-y-auto;
  }
}
